.contact{
    padding-left: 37px;
    padding-right: 36px;

    &__text{
        font-size: 14px;
    padding-bottom: 20px;
    }
 &__link{
    font-size: 14px;
     display: inline-block;
    padding-right: 20px;
     padding-bottom: 20px;
     color: $colorPrincipal;
 }
    @include tablet{
        &__title{
            font-size: 20px;
            padding-bottom: 30px;

        }
    &__text{
        font-size: 16px;
    padding-bottom: 20px;
    }
    &__link{
        font-size: 16px;
         color: $colorPrincipal;
     }
    }
    @include desktop{
    
    &__text{
        padding-right: 40px;
        font-size: 16px;
    padding-bottom: 20px;
    }
    }
    }

    .containerform{
        &__form{
           display: flex;
           flex-direction: column; 
        }
        &__label{
font-size: 14px;  
margin-bottom: 10px;    
margin-top: 10px;    
  }
  &__input{
      width: 250px;
      height: 35px;
      border: solid 1px $colorSecundary;
      border-radius: 5px;
      padding: 10px;
      font-size: 12px;
  }
  &__textarea{
      width: 250px;
      height: 100px;
      border: solid 1px $colorSecundary;
      border-radius: 5px;
      padding: 10px;
      font-size: 12px;
  }
  &__submit{
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: $colorSecundary;
      height: 30px;
      font-weight: bold;
      border-radius: 5px;
  }

  @include tablet{
    &__input{
        width: 100%;
    }
    &__textarea{
        width: 100%;
    }
  }
    }