.skills{
    &__title{
        font-size: 16px;
    }
    &__container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__image{
        width: 35px;
        height: auto;
        margin-right: 15px;
        margin-bottom: 15px;
    }
@include tablet{
    &__title{
        font-size: 20px;
    }
    &__image{
        width: 60px;
        height: auto;
        margin-right: 25px;
        margin-bottom: 15px;
    }
}
@include desktop{
    padding-left: 60px;        text-align: center;


    &__title{
        color: white;
        font-size: 14px;
        width: 200px;
        background-color: $colorPrincipal;
        text-transform: uppercase;
    }
    &__image{
        width: 50px;
        margin-right: 45px;
    }
}
}

