.proyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    &__rectangle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: $colorSecundary;
    height: 300px;
    border-radius: 10px;
    width: 250px;
    margin-bottom: 30px;
}
&__name{
    font-size: 18px;
}
&__description{
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}
&__list{
    display: flex;
    &--link{
        width: 50px;
        height: 50px;
        background-color: white;
        margin-right: 10px;
    }
}
&__image{
    width: 200px;
    height: auto;
    padding-top: 10px;
}
&__button{
    background-color: $colorPrincipal;
    margin: auto;
display: flex;
justify-content: center;
align-items: center;
font-size: 12px;
width: 100px;
height: 20px;
border-radius: 5px;
color: white;
font-weight: bold;
margin-bottom: 20px;
}
@include tablet{
    &__rectangle{

        height: 500px;
        width: 500px;
        margin-bottom: 50px;
    }
    &__name{
        font-size: 28px;
    }
    &__description{
        font-size: 18px;

    }
    &__list{

        &--link{
            width: 90px;
            height: 90px;
        }
    }
    &__image{
  width:350px;
  height:auto;
  padding-top: 25px;
  margin-bottom: 20px;
}
&__button{
font-size: 22px;
width: 200px;
height: 50px;
}
}
}