.title{
    font-size: 18px;
    @include tablet{
        font-size: 20px;
        padding-bottom: 30px;
    }
    @include desktop{
        font-size: 20px;
        padding-bottom: 25px;
        padding-left: 150px;
        width: 100%;
    

    }
}

.page{
    background-image: url(../../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: white;
    height: 100vh;
}